<!DOCTYPE html>
<html lang="en">

<head>
    <title>Traffic Violaton System - Violations report</title>
    <style>
        .cont {
          font-family: serif;
          font-size: 24px;
          margin: 30px;
          width: 370px;
          height: 70px;
        }
        .btn-bg {
            background-color: #12F05B;
        }
        .btn-fg {
            width:  100px;
            height: 50px;
        }
        body {
            background-color: #38ff98;
        }
    </style>
</head>

<body>
    <h1>
        Violations report
    </h1>
    <!-- TODO show violations table - DONE -->
    {% if viol_entries %}
    {% for entry in viol_entries %}
    <div>
        <h3>Vehicle number: {{entry.vehicle_num}}</h3>
        <h3>Fine amount: {{entry.fine_amt}}</h3>
        <hr>
        <br>
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>